@require '../base'
json('../colors.json')


.zp-input
  height: 64px // top 16px, text 16px, bottom 16px, helper 16px
  display: flex
  flex-direction: column

  > .input
    flex: 1
    display: flex
    height: 100%
    position: relative

    > .label-width
      zp-font-caption()
      visibility: hidden
      position: absolute

    > .label
      pointer-events: none
      position: absolute
      background: transparent
      top: 16px
      left: 14px
      color: $black54
      transform-origin: 0% 0%
      transition: top 0.25s cubic-bezier(0.4, 0, 0.2, 1),
                  font-size 0.25s cubic-bezier(0.4, 0, 0.2, 1)

    > .prefix
      display: none
      pointer-events: none
      margin-right: 0.5em

      &.is-visible
        display: block

    > input
      flex: 1
      width: 100%
      max-width: 100%
      font: inherit
      color: inherit
      text-align: inherit
      background: transparent
      padding: 0 8px 0 14px
      box-sizing: border-box
      border: none
      outline: none
      -webkit-tap-highlight-color: transparent
      appearance: textfield

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0

  > .helper
    zp-font-caption()
    margin: 2px 0 0 12px
    color: $black54

  &.is-error
    > .input
      > .label
        color: $error

    > .helper
      color: $error

  &.is-focused, &.has-value
    > .input
      > .label
        zp-font-caption()
        top: -6px

  &.is-disabled
    > .input
      > .label
        color: $black26

    > .helper
      color: $black26

  &.is-filled
    height: 72px // input 56px, helper 16px

    > .input
      background: $black6
      border-top-left-radius: 4px
      border-top-right-radius: 4px

      > .label
        left: 12px
        top: 21px

      > input
        padding-left: 12px
        padding-top: 14px

      > .underlines
        position: absolute
        bottom: 0
        left: 0
        width: 100%

        > .static
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          height: 1px
          background: $black12

        > .dynamic
          position: absolute
          bottom: 0
          left: 50%
          width: 0
          height: 2px
          transition: width 0.1s ease-in-out,
                      left 0.1s ease-in-out
          transform-origin: center

      > .zp-input_notched-outline
        display: none

  &.is-filled:hover&:not(.is-disabled)
    > .input
      background: $black12

  &.is-filled&.is-focused, &.is-filled&.has-value
    > .input
      > .label
        top: 6px

  &.is-filled&.is-focused
    > .input
      > .underlines
        > .dynamic
          width: 100%
          left: 0

.zp-input_notched-outline
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none

  > svg
    position: absolute
    width: 100%
    height: 100%

    > path
      stroke: currentColor
      stroke-width: 1
      fill: transparent
      transition: stroke .3s cubic-bezier(.4,0,.2,1)
      // transitioning stroke-width artifacts on chrome

  &.is-focused
    > svg
      > path
        stroke-width: 2
