@require '../base'
json('../colors.json')


.zp-textarea
  margin-bottom: 20px // under-line 8px, error-text 12px
  position: relative
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

  > .hint
    z-index: 2
    pointer-events: none
    position: absolute
    background: transparent
    top: 16px
    left: 16px
    color: $grey600

    transform-origin: 0% 0%
    transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                font-size 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .border
    z-index: 1
    border: 1px solid $grey600
    border-radius: 4px
    position: absolute
    pointer-events: none
    width: calc(100% - 2px)
    height: calc(100% - 2px)

  > textarea
    flex: 1
    resize: none
    padding: 0 16px 16px 16px
    box-sizing: border-box
    margin-top: 26px
    width: 100%
    height: 100%
    font: inherit
    color: inherit
    background-color: transparent
    outline: none
    border: none
    -webkit-tap-highlight-color: transparent

  > .error
    zp-font-caption()
    color: $error
    bottom: -20px
    position: absolute
    pointer-events: none
    background: transparent

  &.is-focused, &.has-value
    > .hint
      font-size: 12px
      top: 8px
      display: block

  &.is-error
    > .hint
      color: $error

    > .border
      border-color: $error

    > textarea
      caret-color: $error

  &.is-disabled
    > .hint
      color: $black54

    > .border
      border-color: $grey300
      background: $grey100

  &.is-focused, &:hover:not(.is-disabled)
    > .border
      border-width: 2px
      width: calc(100% - 4px)
      height: calc(100% - 4px)
