json('../../colors.json')

@keyframes zp-services-rippler-animation
  from
    width: 10px
    height: 10px
    margin-top: -5px
    margin-left: -5px
    opacity: 0.25
  to
    width: 1000px
    height: 1000px
    margin-top: -500px
    margin-left: -500px
    opacity: 0

@keyframes zp-services-rippler-animation-small
  from
    width: 10px
    height: 10px
    margin-top: -5px
    margin-left: -5px
    opacity: 0.25
  to
    width: 48px
    height: 48px
    margin-top: -24px
    margin-left: -24px
    opacity: 0

.zp-services-rippler
  position: absolute
  border-radius: 50%
  background: $white
  animation: zp-services-rippler-animation 1.5s
  pointer-events: none

  &.is-small
    animation: zp-services-rippler-animation-small 0.5s
