@require '../base'
json('../colors.json')

.zp-radio-button
  display: inline-block
  white-space: nowrap
  min-height: 40px
  min-width: 40px
  line-height: 40px
  border-radius: 50%
  position: relative
  cursor: pointer
  overflow: hidden
  -webkit-tap-highlight-color: transparent

  > input
    opacity: 0
    cursor: pointer
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  > .ring
    position: absolute
    top: 25%
    left: 25%
    width: calc(50% - 4px)
    height: calc(50% - 4px)
    border-radius: 50%
    border: solid 2px
    transition: border-color 0.28s
    border-color: $black54

  > .fill
    position: absolute
    top: 37.5%
    left: 37.5%
    width: 25%
    height: 25%
    border-radius: 50%
    transform: scale(0)
    transition: transform ease 0.28s

  > .background
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 50%
    opacity: 0
    transition: opacity ease 0.21s

  &:hover
    > .background
      opacity: 0.1

  &.is-focused
    > .background
      opacity: 0.2

  &.is-checked
    > .ring
      border-color: #009688

    > .fill
      transform: scale(1)

  &.is-disabled
    pointer-events: none

    > .ring
      border-color: $black26

    > .fill
      background: $black26
