@require '../base'
json('../colors.json')

.zp-button
  min-height: 48px
  min-width: 64px
  display: inline-flex
  position: relative
  background: transparent
  outline: none
  user-select: none
  cursor: pointer
  box-sizing: border-box
  padding: 6px 0
  -webkit-tap-highlight-color: transparent

  > .button
    zp-shadow-2()
    zp-shadow-transition()
    zp-font-button()
    flex: 1
    display: flex
    justify-content: center
    align-items: center
    position: relative
    box-sizing: border-box
    padding: 0 16px
    vertical-align: middle
    min-height: 36px
    min-width: 64px
    max-width: 100%
    line-height: 36px
    background: transparent
    text-align: center
    outline: none
    border-radius: 4px
    user-select: none
    cursor: pointer
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    border: none
    -webkit-tap-highlight-color: transparent
    transition: background 0.25s, box-shadow 0.25s

    > .overlay
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      pointer-events: none

  &:hover
    > .button
      zp-shadow-3()

  &:active
    > .button
      zp-shadow-8()

  &.is-disabled
    cursor: default
    pointer-events: none

    > .button
      box-shadow: none
      color: $black26

  &.is-flat
    > .button
      box-shadow: none

  &.is-outlined
    > .button
      border: 1px solid $black12

  &.is-flex
    flex: 1
    padding: 0
