@require 'nib'
@require '../base'
json('../colors.json')

.zp-button
  min-height: 48px
  min-width: 48px
  max-width: 100%
  box-sizing: border-box
  display: inline-block
  position: relative
  background: transparent
  text-align: center
  outline: none
  user-select: none
  cursor: pointer
  padding: 4px
  -webkit-tap-highlight-color: transparent

  > .ripple-box
    display: inline-block
    position: relative
    overflow: hidden
    border-radius: 2px

    > .button
      zp-font-button()
      display: inline-block
      position: relative
      box-sizing: border-box
      padding: 0 8px
      min-height: 36px
      min-width: 88px
      max-width: 100%
      line-height: 36px
      background: transparent
      text-align: center
      outline: none
      border-radius: 2px
      user-select: none
      cursor: pointer
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      border: none
      -webkit-tap-highlight-color: transparent

  &.is-disabled
    cursor: default
    pointer-events: none

    > .ripple-box
      cursor: default

      > .button
        pointer-events: none

  &.is-raised
    > .ripple-box
        zp-shadow-1()

        &:active
          zp-shadow-2()

  &.is-raised&.is-dark
    > .ripple-box
      > .button
        color: $white

  &.is-raised&.is-disabled
    > .ripple-box
      box-shadow: none

      > .button
        background: $black12
        color: $black26

  &.is-raised&.is-dark&.is-disabled
    > .ripple-box
      > .button
          background: $white12
          color: $white30

  &.is-full-width
    width: 100%

    > .ripple-box
      > .button
        width: 100%

  &.is-short
    > .ripple-box
      > .button
        min-width: 48px

  &.is-flat&.is-dark
    > .ripple-box
      > .button
        color: $white

  &.is-flat&.is-disabled
    > .ripple-box
      > .button
        color: $black26

  &.is-flat&.is-dark&.is-disabled
    > .ripple-box
      > .button
        color: $white30
