@require '../base'
json('../colors.json')

.zp-button
  height: 48px
  display: inline-block
  position: relative
  background: transparent
  outline: none
  user-select: none
  cursor: pointer
  box-sizing: border-box
  padding: 6px 0
  -webkit-tap-highlight-color: transparent

  > .button
    zp-font-button()
    position: relative
    box-sizing: border-box
    padding: 0 16px
    vertical-align: middle
    height: 36px
    min-width: 88px
    max-width: 100%
    line-height: 36px
    background: transparent
    text-align: center
    outline: none
    border-radius: 2px
    user-select: none
    cursor: pointer
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    border: none
    -webkit-tap-highlight-color: transparent
    transition: background 0.25s, box-shadow 0.25s

  &.is-disabled
    cursor: default
    pointer-events: none

    > .button
      color: $black26

  &.is-hovered
    > .button
      background: rgba(153, 153, 153, 0.20)

  &.is-active
    > .button
      background: rgba(153, 153, 153, 0.40)

  &.is-raised
    > .button
      zp-shadow-1()

  &.is-raised&.is-active
    > .button
      zp-shadow-2()
