@require '../base'
json('../colors.json')


.app
  padding: 24px
  background: $grey200

  > .set
    zp-shadow-1()
    padding: 24px
    background: $white

    > .item
      display: inline-block

    > .item, > .item-block
      margin: 12px

      &.box
        width: 200px
        height: 100px

      > .card
        width: 100px
        height: 100px
        border-radius: 4px
        background: $blue100
        display: flex
        align-items: center
        justify-content: center

      > .shadow-2
        zp-shadow-2()
      > .shadow-3
        zp-shadow-3()
      > .shadow-4
        zp-shadow-4()
      > .shadow-6
        zp-shadow-6()
      > .shadow-8
        zp-shadow-8()
      > .shadow-12
        zp-shadow-12()
      > .shadow-16
        zp-shadow-16()
      > .shadow-24
        zp-shadow-24()

      > .shadow-2-filter
        zp-shadow-2-filter()
      > .shadow-3-filter
        zp-shadow-3-filter()
      > .shadow-4-filter
        zp-shadow-4-filter()
      > .shadow-6-filter
        zp-shadow-6-filter()
      > .shadow-8-filter
        zp-shadow-8-filter()
      > .shadow-12-filter
        zp-shadow-12-filter()
      > .shadow-16-filter
        zp-shadow-16-filter()
      > .shadow-24-filter
        zp-shadow-24-filter()

      > .font-h1
        zp-font-h1()
      > .font-h2
        zp-font-h2()
      > .font-h3
        zp-font-h3()
      > .font-h4
        zp-font-h4()
      > .font-h5
        zp-font-h5()
      > .font-h6
        zp-font-h6()
      > .font-subtitle1
        zp-font-subtitle1()
      > .font-subtitle2
        zp-font-subtitle2()
      > .font-body1
        zp-font-body1()
      > .font-body2
        zp-font-body2()
      > .font-button
        zp-font-button()
      > .font-caption
        zp-font-caption()
      > .font-overline
        zp-font-overline()
