@require '../base'
json('../colors.json')


.app
  padding: 24px
  background: $grey200

  > .set
    zp-shadow-1()
    padding: 24px
    background: $white

    > .item
      display: inline-block
      margin: 12px

      &.box
        width: 200px
        height: 100px
