@require 'normalize-styl/normalize.styl'
@require '../base'

html, body
  height: 100%

body
  zp-font-body1()
  -webkit-tap-highlight-color: transparent

h1
  zp-font-headline()
  margin: 18px 0

h2
  zp-font-title()
  margin: 14px 0

h3
  zp-font-subhead()
  margin: 14px 0

a
  color: $blue500
  text-decoration: inherit


// updated 5/20/2018
// https://fonts.googleapis.com/css?family=Roboto:300,400,500
// curl -H 'User-Agent: Firefox 36.0' # woff
// curl -H 'User-Agent: Firefox 43.0' # woff2
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light')
    , url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2')
    , url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular')
    , url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2')
    , url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium')
    , url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2')
    , url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc-.woff) format('woff');
}
